AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here
AWS_SESSION_TOKEN=your_session_token_here
AWS_AMI_ID=
AWS_ACCOUNT_ID=

# AWS RDS Configuration
AWS_RDS_DB_NAME="n8n"
AWS_RDS_USERNAME="postgres"
AWS_RDS_PASSWORD="your_secure_password"
AWS_RDS_HOST="your_rds_endpoint"

N8N_API_URL=
N8N_API_KEY=

RDS_HOST=
RDS_DATABASE=

SECRETS_MANAGER_SECRET=
LATENTCODE_API_KEY=

